@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #F6F7F6;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.container_left{
    width: 47%;
}
.container-right{
    width: 47%;
    position: relative;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 6%;
    background-color: white;
}
.ul-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}
.ul-1 li{
    list-style: none;
    padding-top: 2rem;
}
.ul-1 li a{
    text-decoration: none;
    color: #5B6D7A;
}


.logo{
    padding: 1rem 5rem;
}
.logo h2{
    font-family: 'Mr Dafoe', cursive;
    font-size: 3rem;
}
.img-slider{
    width: 80%;
    position: relative;
    margin-left: 5rem;
}
.left{
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    border: none;
    background-color: black;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.right{
    position: absolute;
    right: 0;
    top: 50%;
    border-radius: 50%;
    border: none;
    background-color: black;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.fa-chevron-left, .fa-chevron-right{
    color: white;
}
.first-ul{
    display: flex;
    gap: 1rem;
    width: 100%;
   
}
.first-ul li{
    list-style: none;
}
.first-ul li a{
    text-decoration: none;
    font-size: .7rem;
    color: #5B6D7A;
}
ul li a:active{
    color: #1319D1;
}
.mini-menu{
    transform: rotate(270deg);
    position: absolute;
    left: -40px;
    top: 40rem;
}
.we{
    color: #13191D;
    font-size: 1rem;
}
.ul-2{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}
.ul-2 li{
    list-style: none;
}
.one-side{
    padding-top: 3rem;
    width: 50%;
    height: 40%;
}
.one-side a{
    text-decoration: none;
    color: #13191D;
    padding: .5rem;
    background-color: white;
    border-radius: 2rem;
    font-weight: 600;
    font-size: .7rem;
   
}
.one-side a:nth-child(2){
    background-color: transparent;
    color: #5B6D7A;
}
.title{
    padding-top: 1.5rem;
    display: flex;
    gap: 1rem;
}
.title aside{
    padding: .5rem;
    background-color: black;
    color: white;
    border-radius: 5rem;
}
.container-right .p{
    width: 20rem;
    padding-top: 1.5rem;
}
.container-right article p{
    font-size: .7rem;
    color: #5B6D7A;
}
.class-2{
    padding-top: 1rem;
}
.price{
    padding: 1rem 0 ;
}
.price-selector{
    display: flex;
    gap: .5rem;
}
.price-selector a{
    border: none;
    background-color: transparent;
    color: #5B6D7A;
    font-size: 1.5rem;
    cursor: pointer;
}
.price-selector button{
    border: none;
    background: linear-gradient( #5B6D7A, #13191D);
    color: white;
    width: 8rem;
    border-radius: 2rem;
    font-size: .7rem;
    
}
.amount h2{
    color: #5B6D7A;
    font-size: 1.5rem;
}
hr{
    margin-top: 5rem;
    width: 45rem;
    background-color: #5B6D7A;
    border: none;
    height: 1px;
}
.second-side{
    width: 20rem;
    height: 16rem;
    position: absolute;
    top: 6rem;
    right: 0;
    margin-right: 2rem;
    background-color: white;
    border-radius: 5px ;
}
.second-side img{
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.second-side .article-info {
    padding: 0;
    display: flex;
    align-items: center;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}
.second-side .article-info p{
    padding-left: 1rem;
}
.counter-section{
    padding-right: 1rem;
}
.counter-section button{
    background-color: transparent;
    border: none;
}
.counter-section button i {
    color: #5B6D7A;
}
.counter-section button span{
    color: #5B6D7A;
}
.bottom-right{
    height: 50%;
    display: flex;
}
.container-bottom-right{
    height: 100%;
    padding: 4rem 0;
    font-size: .9rem;
    width: 40%;
}
.left-side-bottom{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-side-bottom p{
    font-size: .7rem;
    padding-bottom: .8rem;
    color: #5B6D7A;
}
.top{
    width: 17rem;
    background-color: white;
    border-radius: .5rem;
    height: 4rem;
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
}
.icon-bottom{
    background-color: #F6F7F6;
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    border-radius: .3rem;
    display: flex;
}
.top article{
   
    padding-left: 1rem;
}
.top article p{
    font-size: .6rem;
}
.right-side-bottom{
    display: flex;
    flex-direction: column;
    padding-left: 2rem ;
    
}
.right-side-bottom header{
    padding-top: 3.7rem;
    
}
.price-selector .cart-add{
    background-color: transparent;
}
.image{
    display: none;
}